extends layouts/main

block content
    .video__player
        video(src=`/${video.fileUrl}`) // ${because it is url, not real file}
    .vidoe__info
        a(href=routes.editVideo(video.id)) Edit Video
        h5.video__title=video.title
        span.video__view=video.view
        p.video__description=video.description